<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="utra6_850">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="ros_namespace" default="utra6_850"/>
  <xacro:arg name="limited" default="false"/>
  <xacro:arg name="effort_control" default="false"/>
  <xacro:arg name="attach_to_world" default="true"/>
  <xacro:arg name="add_gripper" default="true"/>
  <xacro:arg name="add_realsense_d435i" default="false"/> 

    <!-- utra6_850 -->
    <xacro:include filename="$(find arm_description)/urdf/utra6_850.urdf.xacro" />
    
   
    <xacro:if value="$(arg attach_to_world)">
      <link name="world" />
    </xacro:if>

    <joint name="$(arg prefix)world_joint" type="fixed">
      <parent link="world" />
      <child link = "$(arg prefix)base_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="$(arg prefix)link_tcp" />

    <joint
      name="$(arg prefix)joint_tcp"
      type="fixed">
      <origin
        xyz="0 0 0.18"
        rpy="0 0 0" />
      <parent
        link="$(arg prefix)link_6" />
      <child
        link="$(arg prefix)link_tcp" />
    </joint>

    <xacro:if value="$(arg limited)">
      <xacro:utra6_850_urdf prefix="$(arg prefix)"
        joint1_lower_limit="${-2.0*pi}" joint1_upper_limit="${2.0*pi}"
        joint2_lower_limit="${-2.0*pi}" joint2_upper_limit="${2.0*pi}"
        joint3_lower_limit="${-2.0*pi}" joint3_upper_limit="${2.0*pi}"
        joint4_lower_limit="${-2.0*pi}" joint4_upper_limit="${2.0*pi}"
        joint5_lower_limit="${-2.0*pi}" joint5_upper_limit="${2.0*pi}"
        joint6_lower_limit="${-2.0*pi}" joint6_upper_limit="${2.0*pi}"/>
    </xacro:if>
    <xacro:unless value="$(arg limited)">
      <xacro:utra6_850_urdf prefix="$(arg prefix)"/>
    </xacro:unless>


  <xacro:include filename="$(find arm_description)/urdf/transmission.xacro" /> 
  
  <xacro:transmission_block joint_name="$(arg prefix)joint1"/>
  <xacro:transmission_block joint_name="$(arg prefix)joint2"/>
  <xacro:transmission_block joint_name="$(arg prefix)joint3"/>
  <xacro:transmission_block joint_name="$(arg prefix)joint4"/>
  <xacro:transmission_block joint_name="$(arg prefix)joint5"/>
  <xacro:transmission_block joint_name="$(arg prefix)joint6"/>

  <xacro:include filename="$(find arm_description)/urdf/utra6_850_common.gazebo.xacro" /> 

  <xacro:if value="$(arg add_realsense_d435i)" >
    <link name="$(arg prefix)d435i">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="0.00001" />
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry> <mesh filename="package://arm_description/meshes/d435i/d435i.STL" /> </geometry>
          <material name="Silver"> <color rgba="0.7 0.7 0.7 1.0"/> </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry> <mesh filename="package://arm_description/meshes/d435i/d435i.STL" /> </geometry>
        </collision>
    </link>
    <joint name="$(arg prefix)d435i_joint" type="fixed">
        <parent link="$(arg prefix)link_6"/>
        <child link="$(arg prefix)d435i"/>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
    </joint>
    <xacro:if value="$(arg add_gripper)" >
      <xacro:include filename="$(find utra_gripper)/urdf/gripper.urdf.xacro" />
      <xacro:gripper prefix="$(arg prefix)" parent="$(arg prefix)d435i" >
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:gripper>
    </xacro:if>
  </xacro:if>
  <xacro:unless value="$(arg add_realsense_d435i)">
      <xacro:if value="$(arg add_gripper)" >
          <xacro:include filename="$(find utra_gripper)/urdf/gripper.urdf.xacro" />
          <xacro:gripper prefix="$(arg prefix)" parent="$(arg prefix)link_6" >
            <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
          </xacro:gripper>
      </xacro:if>
  </xacro:unless>

</robot>
