<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <param name="robot_description"
    command="$(find xacro)/xacro
    --inorder '$(find utra_description)/urdf/utra4_450_robot.urdf.xacro'
    limited:=$(arg limited)
    transmission_hw_interface:=$(arg transmission_hw_interface)" />

</launch>
