<launch>
    <include file="$(find utra_controller)/launch/joint_trajectory_6.launch">
        <arg name="utra_ns" value="opti6_800/arm_joint_controller/follow_joint_trajectory" />
    </include>
    <include file="$(find utra_gripper)/launch/gripper_trajectory.launch">
        <arg name="utra_ns" value="opti6_800/gripper_controller/follow_joint_trajectory" />
    </include> 
    
    <include file="$(find utra_controller)/launch/joint_publisher_6.launch">
        <arg name="gripper" value="true" />
        <arg name="utra_ns" value="opti6_800/joint_states_800" />
    </include>

    <include file="$(find opti6_800_moveit_gripper_config)/launch/demo.launch">
        <!--arg name="ompl" value="ompl_s"/-->
    </include>
    
</launch>