<launch>
    <arg  name="utra_ip" />
    <include file="$(find utra_controller)/launch/joint_trajectory_850.launch">
        <arg name="utra_ns" value="utra6_1000/arm_joint_controller/follow_joint_trajectory" />
        <arg name="utra_ip" value="$(arg utra_ip)" />
    </include>

    
    <include file="$(find utra_controller)/launch/joint_publisher_850.launch">
        <arg name="utra_ip" value="$(arg utra_ip)" />
    </include>

    <include file="$(find utra6_1000_moveit_config)/launch/demo.launch">
    </include>
    
</launch>