<launch>
    <include file="$(find arm_controller)/launch/utarm_mvservo_trajectory.launch">
        <arg name="utra_ns" value="opti6_800/arm_joint_controller/follow_joint_trajectory" />
        <arg name="axis" value="6" />
    </include>

    
    <include file="$(find arm_controller)/launch/utarm_status_transmit.launch">
        <arg name="utra_ns" value="opti6_800/joint_states_800" />
        <arg name="axis" value="6" />
    </include>

    <include file="$(find opti6_800_moveit_config)/launch/demo.launch">
    </include>
    
</launch>