<launch>
  <arg  name="utra_ns" />
  <arg  name="gripper" default="false"/>
  <param name = "gripper" type="bool" value = "$(arg gripper)"/>
  <node
    name="ut_joint_publisher"
    pkg="utra_controller"
    type="joint_publisher_7"
    respawn="false"
    output="screen"
    >
    <param name="utra_ns" value="$(arg utra_ns)"/>
    </node>
    
</launch>