<launch>
    <!-- Launch Gazebo  -->
    <include file="$(find utra6_550_gazebo)/launch/gazebo_world.launch" />

    <!-- ros_control arm launch file -->
    <include file="$(find utra6_550_gazebo)/launch/gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find utra6_550_gazebo)/launch/trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find utra6_550_moveit_config)/launch/moveit_planning_execution.launch" />

</launch>
